.footer {
    background-color: $darkBg;
    padding: 60px 0;
    &__container{
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        column-gap: 70px;
        justify-content: space-around;
        @media(min-width:768px){
            flex-wrap: wrap;
            flex-direction: inherit;
        }
        @media(min-width: 1200px) {
            flex-direction: inherit;
        }
    }
    &__logo {
        font-family: 'Raleway';
        font-size: 26px;
        line-height: 1.19;
        color: $white;
        text-decoration: none;
        display: flex;
        padding-bottom: 20px;
        justify-content: center;
        &--web {
            color: $brandBlue;
        }
        @media(min-width: 1200px) {
            justify-content: inherit;
        }
    }
    &__address {
        font-style: normal;
        text-align: center;
        @media(min-width: 1200px) {
            text-align: inherit;
        }
    }
    &__address-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 9px;
    }
    &__address-location {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        color: $white;
    }
    &__address-contact {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            color: $brandBlue;
        }
    }
    &__social-media-titel {
        font-size: 14px;
        line-height: 1.14;
        color: $white;
        margin-top: 60px;
        text-align: center;
        @media(min-width: 768px) {
            margin-top: 0;
        }
        @media(min-width: 1200px) {
            margin-top: 10px;
            text-align: inherit;
        }
    }
    &__social-media-list {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        margin-top: 20px;
        margin-bottom: 60px;
        @media(min-width: 1200px) {
            margin-bottom: 100px;
        }
    }
    &__social-media-contact {
        border-radius: 50%;
        padding: 12px;
        display: flex;
        justify-content: center;
        align-items: center;  
        background-color: rgba(255, 255, 255, 0.1);
        transition-property: background-color, border-radius;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            background-color: $brandBlue;
            border-radius: 50%;
        }
    }
    &__social-media-icon {
        fill: $white;
    }
    &__nl-titel {
        color: $white;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        @media(min-width:768px) {
            margin-top: 60px;
        }
        @media(min-width: 1200px) {
            display: inherit;
            margin-top: 10px;
        }
    }
    &__nl-wrapper {
        display: flex;
        padding-top: 20px;
        gap: 12px;
        flex-direction: column;
        @media(min-width: 1200px) {
            flex-direction: inherit;
        }
    }
    &__nl-input {
        padding-left: 16px;
        padding-top: 15px;
        padding-bottom: 15px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        height: 50px;
        width: 100%;
        max-width: 450px;
        background-color: $darkBg;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        &::placeholder {
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }
        @media(min-width: 768px) {
            padding-right: 250px;
            padding-bottom: 20px;
        }
        @media(min-width: 1200px) {
            width: 358px;
        }
    }
    &__nl-wrap {
        display: flex;
        justify-content: center;
        @media(min-width: 1200px) {
            display: inherit;
        }
    }
    &__nl-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $brandBlue;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        color: $white;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.06em;
        width: 200px;
        height: 50px;
        cursor: pointer;
        column-gap: 24px;
    }
    &__nl-btn-icon {
        fill: $white;
    }
}
