.usps {
    padding: 60px 0;
    @media(min-width: 1200px){
        padding: 94px 0;
    }
    &__list {
        list-style: none;
        margin: 0 15px;
        @media(min-width: 768px){
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
        @media(min-width: 1200px) {
            display: flex;
            flex-wrap: nowrap;
            column-gap: 30px;
            margin: 0;
            justify-content: center;
        }   
    }
    &__item {
        flex-basis: none;
        @media(min-width: 768px)and(max-width: 1199px){
            flex-basis: calc((100% - 2rem)/2);
        }
        @media(min-width: 1200px) {
            max-width: 270px;
        }
    }

    &__icon-wrapper {
        background-color: $lighterBg;
        display: flex;
        justify-content: center;
        padding: 25px 0;
        margin-bottom: 30px;
    }
    &__list-titel {
        font-size: 14px;
        line-height: 1.14;
        font-weight: 700;
        color: $textDark;
        padding-bottom: 10px;
        text-align: center;
        @media(min-width: 768px){
            text-align:left;
        }
        @media(min-width: 1200px){
            text-align:left;
        }
    }
    &__list-content {
        font-size: 14px;
        line-height: 1.71;
        font-weight: 400;
        color: $lightGrey;
        margin-bottom: 30px;
        @media(min-width: 1200px) {
            margin-bottom: 0;
        }
    }
    
}