
$logoBlack: #000000;
$brandBlue: #2196F3;
$white: #FFFFFF;
$textDark: #212121;
$headerBorder: #ECECEC;
$fontFamily: "Roboto", sans-serif;
$lightBg: #E5E5E5;
$lighterBg: #F5F4FA;
$lightGrey: #757575;
$border: #eeeeee;
$iconTeam: #AFB1B8;
$darkBg: #2F303A;
$portBs: rgba(0, 0, 0, 0.1);
$port2Bs: rgba(0, 0, 0, 0.08);
$port3Bs: rgba(0, 0, 0, 0.12);
$itemGrid: rgba(47, 48, 58, 0.8);
$tabletSize: 768px;
$phoneSize: 4800px;
$pcSize: 1200px;